# Setting Up DB
POSTGRES_USER="Enter your DB username"
POSTGRES_PASSWORD="Enter your DB password"
POSTGRES_DB="Enter your DB name"

DATABASE_URL="Enter your DB_URL"

# Adding Application Name

APP_NAME = NetHub-Ops 

DEBUG=True