.sidebar{

    width:260px;

    background:var(--sidebar);

    border-right:1px solid rgba(255,255,255,.05);

    display:flex;

    flex-direction:column;

    flex-shrink:0;

}

.sidebar-header{

    height:75px;

    display:flex;

    align-items:center;

    justify-content:center;

    border-bottom:1px solid rgba(255,255,255,.05);

}

.logo{

    display:flex;

    align-items:center;

    gap:12px;

    color:white;

    font-size:22px;

    font-weight:700;

}

.logo i{

    color:var(--dashboard);

    font-size:28px;

}

.sidebar-menu{

    display:flex;

    flex-direction:column;

    padding:20px 15px;

    gap:8px;

}

.menu-item{

    display:flex;

    align-items:center;

    gap:14px;

    padding:14px 18px;

    text-decoration:none;

    color:#cbd5e1;

    border-radius:12px;

    transition:.25s;

}

.menu-item:hover{

    background:var(--card);

    color:white;

    transform:translateX(5px);

}

.menu-item.active{

    background:var(--dashboard);

    color:white;

}

.menu-item i{

    font-size:20px;

    width:24px;

    text-align:center;

}

.sidebar-menu .menu-item:nth-child(1) i{

    color:var(--dashboard);

}

.sidebar-menu .menu-item:nth-child(2) i{

    color:var(--devices);

}

.sidebar-menu .menu-item:nth-child(3) i{

    color:var(--monitoring);

}

.sidebar-menu .menu-item:nth-child(4) i{

    color:var(--topology);

}

.sidebar-menu .menu-item:nth-child(5) i{

    color:var(--automation);

}

.sidebar-menu .menu-item:nth-child(6) i,
.sidebar-menu .menu-item:nth-child(7) i{

    color:var(--backup);

}

.sidebar-menu .menu-item:nth-child(8) i{

    color:var(--reports);

}

.sidebar-menu .menu-item:nth-child(9) i{

    color:var(--users);

}

.sidebar-menu .menu-item:nth-child(10) i{

    color:var(--settings);

}

.menu-item.active i,
.menu-item:hover i{

    color:currentColor;

}

.sidebar{

    transition:.3s ease;

}

.sidebar.collapsed{

    width:85px;

    min-width:85px;

}

.sidebar.collapsed .logo span{

    display:none;

}

.sidebar.collapsed .menu-item span{

    display:none;

}

.sidebar.collapsed .menu-item{

    justify-content:center;

}

.sidebar.collapsed .logo{

    justify-content:center;

}
